:root {
  --title-color: #35414b;
  --text-color: #4e5a65;
  /*========== Font and typography ==========*/
  --font-family: 'Inter', sans-serif;
  --section-title-size: 1.12rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
}
* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  background-color: #ffffff;
  font-family: var(--body-font);
}
body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  max-width: 1110px;
  padding: 0 0.9rem;
  font-family: var(--font-family);
}
/* **************** HEADER ***************** */
.nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0.9rem 0;
}
.nav__logo {
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: var(--font-weight-regular);
  line-height: 20px;
  font-style: normal;
  letter-spacing: -0.06em;
  min-width: 77px;
  min-height: 20px;
  color: #1d2830;
}
.nav__menu {
  outline: 2px solid black;
  position: fixed;
  right: 0;
  top: -1100%;
  width: 50%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .nav__buttons {
    display: none;
  }
}
.main {
  padding: 1px;
}
/* ************** HOME ******************* */
.home {
}
.home__container {
  display: grid;
  padding-top: 6rem;
  justify-content: center;
}
.home__price-service {
  text-align: center;
  font-size: 13px;
  font-weight: var(--font-weight-regular);
  line-height: 13px;
  margin-bottom: 1.3rem;
  color: var(--title-color);
}
.home__title {
  font-size: 2rem;
  color: var(--title-color);
  margin: 0 2.3rem;
  text-align: center;
  margin-bottom: 1.3rem;
}
.home__description {
  margin: 0 2.3rem;
  font-size: 0.9rem;
  color: var(--title-color);
  font-weight: var(--font-weight-regular);
  line-height: 19px;
  text-align: justify;
  margin-bottom: 1.3rem;
}
.home__input-correo {
  margin: 0 2.3rem;
  border: 1px solid #e1e5ea;
  min-height: 3.52rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  text-align: center;
}
.home__input-correo::placeholder {
  text-align: center;
  color: #97a5b5;
}
.home__button {
  min-height: 3.52rem;
  color: #ffffff;
  background-color: #794cff;
  border: 1px solid #794cff;
  border-radius: 4px;
  margin: 0 2.3rem;
  margin-bottom: 2rem;
}
.home_description-service {
  margin-bottom: 3.5rem;
}
.home__parterns {
  margin: 0 2.3rem;
}
.home__parterns-title {
  font-size: 0.7rem;
  text-align: center;
  color: var(--text-color);
  line-height: 11px;
  margin-bottom: 1rem;
}
.home__parterns-container-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5.5rem;
}
.home__parterns-logo {
  width: 45px;
  object-fit: contain;
}
.benefits__linetime {
  margin-bottom: 2rem;
}
.benefits__list-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.2rem;
}
.benefits__item {
  border-bottom: 1px solid #f0ebfa;
  padding: 1.5rem 2.5rem;
}
.benefits__title {
  text-align: center;
  font-size: 1rem;
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.8rem;
}
.benefits__description {
  text-align: center;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  line-height: 18px;
}
.benefits__item:first-of-type {
  background-color: #f6f3fc;
  border: 1px dashed #f0ebfa;
  border-bottom: 10px solid #794cff;
}
.services__container {
  text-align: center;
  margin-bottom: 5.5rem;
  display: flex;
  flex-direction: column;
}
.services__container-title {
  color: var(--title-color);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  line-height: 18px;
  margin-bottom: 1rem;
}
.services__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.services__card {
  padding: 1rem 2rem;
}
.services__title {
  color: var(--title-color);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  line-height: 18px;
  margin-bottom: 0.5rem;
}
.services__description {
  color: var(--title-color);
  font-size: 1rem;
  font-weight: --font-weight-regular;
  line-height: 20px;
}
.services__btn-more-services {
  width: 85%;
  align-self: center;
  height: 3.2rem;
  background: #ece5ff;
  color: #7259fa;
  border: none;
  border-radius: 4px;
  border: 1px solid #ece5ff;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
}
.services__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem;
  border: 1px solid #fef6ee;
}
.services__img {
  height: 1rem;
  width: 1rem;
}

.workflow__container {
  margin-bottom: 5rem;
  text-align: center;
}
.workflow__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2.3rem;
}
.workflow__img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.workflow__title {
  color: var(--title-color);
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: var(--font-weight-bold);
  padding: 0 4rem 1rem;
}
.workflow__desription {
  font-weight: var(--font-weight-regular);
  line-height: 24px;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.workflow__btn {
  text-align: center;
  background-color: #794cff;
  color: #ffffff;
  height: 3rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #794cff;
}
/* ************ TESTIMONIALS */
.testimoninials__container {
  margin-bottom: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.testimonials__title {
  font-weight: var(--font-weight-bold);
  font-size: 1.2rem;
  list-style: 1.2rem;
  padding: 0 2rem 1rem;
  margin-bottom: 1.5rem;
}
.testimonial__description {
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  line-height: 2rem;
  margin: 0 2rem 2.4rem;
  color: var(--text-color);
}
/* .testimonials__user-container {
} */
.testimonials__user-photo {
  margin-bottom: 0.55rem;
}
.testimonials__user-name {
  font-size: 0.8rem;
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  line-height: 13px;
  margin-bottom: 3px;
}
.testimonials__user-role {
  font-weight: var(--font-weight-regular);
  line-height: 13px;
  font-size: 0.8rem;
  color: var(--text-color);
}
/* ************* PROMOTIONS ************** */
.promotion__container {
  display: flex;
  flex-direction: column;
  margin: 0 0 3.5rem;
  align-items: center;
  background: #796eff;
  padding: 2.2rem 3rem;
}
.promotion__title {
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  line-height: 2rem;
  font-weight: var(--font-weight-bold);
}
.promotion__img:first-of-type {
  width: 11.3rem;
  margin-bottom: 1.5rem;
}
/* *************** FOOTER ******************** */

.footer {
  margin: 0;
  background: #1d2830;
}
.footer__title-option {
  font-weight: var(--font-weight-bold);
}
.footer__options-container {
  padding: 1rem 0rem;
  margin: 0 3rem;
}
.footer__list {
  display: none;
}
.footer__option-contain {
  margin: 2rem 0;
}
.footer__title-option {
  font-size: 1rem;
  color: #ffffff;
  font-weight: var(--font-weight-bold);
}
.apps--title {
  display: block;
  margin: 0 0 0.7rem;
}
.footer__container-apps {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.footer__img {
  margin: 0.4rem 0;
  width: 65%;
  height: auto;
}
.footer__content-copyright-social {
  
  border-top: 1px solid #e1d8d837;
  padding: 0 3rem;
}
.footer__text-copyright {
  padding: 2rem 0;
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: #d9dbe1;
  
  line-height: 14px;
}
